<ion-view view-title="J-POP">
  <ion-content>
  
    <ion-list>
	    <div ng-controller="videoListCtrl_jp">
	      <div class="list">
	          <a ion-item item-thumbnail-left ng-repeat="video in data.videos" class="item item-thumbnail-left" href="{{video.url}}" ng-click="showInAppVideo('{{video.url}}', $event)">
	            <img src="{{video.thumbnail_url}}">
	            <h2>{{video.title}}</h2>
	            <span class="item-note">{{video.rank}}st</span>
	            <p>{{video.name}}</p>
	          </a>
	      </div>
	    </div>      
    </ion-list>
  </ion-content>
</ion-view>	