<ion-header-bar class="bar bar-header bar-positive">
  <!-- <h1 class="title"><center>K-POP ランキング</center></h1> -->
</ion-header-bar>

<!-- <div class="bar bar-header bar-positive">
  <h1 class="title">K-POP ランキング</h1>
</div> -->
  <ion-content>
    <ion-list>
	    <div ng-controller="videoListCtrl">
	      <div class="list">
	          <a ion-item item-thumbnail-left ng-repeat="video in data.videos" class="item item-thumbnail-left" >
	            <img src="{{video.thumbnail_url}}" ng-click="showInAppVideo('{{video.url}}', $event)">
	            <h2 ng-click="showInAppVideo('{{video.url}}', $event)">{{video.title}}</h2>
	            <div class="item-note_new positive" ng-click="showInAppVideo('{{video.url}}', $event)">{{video.rank}}</div>
	            <p>{{video.name}}<span class="assertive item-note_is_new" ng-click="showInAppVideo('{{video.url}}', $event)">{{video.is_new}}</span></p>
			  <div class="item-button-right " ng-controller="PopupCtrl">
			    <button class="button button-positive">
			          <button class="button button-primary" ng-click="showConfirm()">
				      追加
				    </button>
			    </button>
			  </div>			  
	          </a>
	      </div>
	    </div>
    </ion-list>
  
  </ion-content>
	